#################################################################
# Variables for Azure Registration
#################################################################

variable "AzureSubscriptionID" {
  type    = string
  default = ""
}

variable "AzureClientID" {
  type    = string
  default = ""
}

variable "AzureObjectID" {
  type    = string
  default = ""
}

variable "AzureClientSecret" {
  type    = string
  default = ""

}

variable "AzureTenantID" {
  type    = string
  default = ""
}

#################################################################
# Variables for VM config
#################################################################

# Variable defining VM Admin Name

variable "VMAdminName" {
  type    = string
  default = "vmadmin"
}

# Variable defining VM Admin password

variable "VMAdminPassword" {
  type    = string
  default = ""
}

# Variable defining SSH Key
variable "AzurePublicSSHKey" {
  type    = string
  default = "ssh-rsa AAAABxxxxxxxxxxxx rsa-key-20170707"
}

#################################################################
# Variables for AKS config
#################################################################

#Secret for AAD integration in AKS

variable "AKSAADAppServer_AppId" {
  type    = string
  default = ""

}

variable "AKSAADAppServer_AppSecret" {
  type    = string
  default = ""
  
}

variable "AKSAADAppClient_AppId" {
  type    = string
  default = ""

}

#Service Principal for AKS

variable "AKSSP_AppId" {
  type    = string
  default = ""

}

variable "AKSSP_Secret" {
  type    = string
  default = ""


}

