######################################################################
# Variables for Spoke config
######################################################################

RGSpokeName         = "RG_SpokeAKSLab"
VNetSpokeName          = "Spoke1"

EnvironmentTag      = "AKSLab"
EnvironmentUsageTag = "PoC"
OwnerTag            = "DF"
ProvisioningDateTag = "20191117"